{{ .context.Scratch.Set "height" .height }}
{{ .context.Scratch.Set "unit" .unit }}
{{ .context.Scratch.Set "items" .items }}

<section class="testimonials-wrapper xs-pt-50 xs-pb-100 xs-mt-50 xs-mb-50">
  <div class="content-margins">
    <div class="carousel-header text-center xs-mb-50">
      <h2 class="title-3 xs-mb-20">Community testimonials</h2>
      <p class="text-20-regular">Real input from EngEd students on how the community has allowed them to build up their skills in a real world setting, and having a place to showcase those achievements (with the EngEd program) has helped in their dev journey.</p>
    </div>

    <div id="carousel10" class="carousel xs-pt-30" duration="{{ .duration }}" items="{{ .items }}">
      <ul>
        {{ range $index, $slide := .context.Site.Data.testimonialsData.testimonials }}
          <li id="c10_slide{{ add $index 1}}" style="min-width: calc(100%/{{ $.context.Scratch.Get "items" }});">
            <div class="testimonial-image">
              <img src="/engineering-education{{ $slide.image }}" alt="{{ $slide.image }} Testimonial." />
            </div>
            <div class="testimonial-content">
              <p class="testimonial text-18-medium">"{{ $slide.testimonial }}"</p>
              <h4 class="author-name"><a href="{{ $slide.profileUrl }}">{{ $slide.name }}</a></h4>
              <p class="roles">{{ delimit $slide.roles " / " }}</span>
              <p class="location">{{ $slide.location }}</span>
            </div>
          </li>
        {{ end }}
      </ul>
      <ol>
        {{ range $index, $page := .context.Site.Data.testimonialsData.testimonials }}
          {{ if (modBool $index 1) }}<li><a href="#c10_slide{{ add $index 1 }}"></a></li>{{ end }}
        {{ end }}
      </ol>
      <div class="prev">&lsaquo;</div>
      <div class="next">&rsaquo;</div>
    </div>
  </div>
</section>
