<section class="trending-articles-wrapper xs-pt-50 xs-pb-50 xs-mt-50 xs-mb-50">
  <div class="content-margins">
    <div class="trending-articles-header text-center">
      <h2 class="title-3 xs-mb-20">Trending Articles</h2>
    </div>
  </div>
</section>

<script defer type="text/javascript">

  document.addEventListener("DOMContentLoaded", async function() {
    const handleError = response => {
      if (!response.ok) {
        throw Error(response.statusText);
      } else {
        return response.json();
      }
    }

    const getTrendingArticles = () => {
      return fetch('{{ if eq site.Params.env "local" }}http://localhost:3000/trending-articles/{{ else }}https:\/\/api.www.section.io/trending-articles/{{ end }}')
        .then(handleError)
        .then(data => {
          console.log("trendArts:", data)
        });
    }
    getTrendingArticles();
  })
</script>
