<script defer type="text/javascript">
  const openTab = (evt, cityName) => {
    // Declare all variables
    let i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

{{ $trending30DaysUrl := "https://api.www.section.io/trending-articles/30days/" }}
{{ $trendingAllTimeUrl := "https://api.www.section.io/trending-articles/allTime/" }}



<script defer type="text/javascript">

  document.addEventListener("DOMContentLoaded", async function() {
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  })
</script>
