<!-- Options:
title: the main title
image
  src:
  alt:
-->

{{ if .component.image.src }}

<section class="centered-image-block fill-dark-85 xs-pt-80 {{ if .component.bgGray }}fill-bg-gray{{ end }} -with-gif">
  {{ if .component.title }}
  <div class="centered-image-block-header text-center">
    <h3 class="title-3">{{ .component.title }}</h3>
  </div>
  {{ end }}
  <div class="section-container pt-5 pb-5 flex justify-center">
    <div class="section-container-inner flex xs-flex-column flex-wrap sm-flex-row prl-half">
      <div class="centered-image-block-image flex justify-center">
        <div class="centered-image-block-image-inner">
          <div class="centered-image-block-image-inner-wrap">
            <div class="centered-image-block-image-inner-wrap-top-large" data-aos="slide-left" data-aos-offset="0" data-aos-delay="200" data-aos-once="true" data-aos-duration="400" data-aos-easing="ease-in-out"></div>
            <div class="centered-image-block-image-inner-wrap-top-small" data-aos="slide-left" data-aos-offset="0" data-aos-delay="200" data-aos-once="true" data-aos-duration="400" data-aos-easing="ease-in-out"></div>
            <div class="centered-image-block-image-inner-wrap-top-bottom-stripes" data-aos="slide-left" data-aos-offset="0" data-aos-once="true" data-aos-delay="700" data-aos-duration="400" data-aos-easing="ease-in-out"></div>

            {{ if .component.image.cover }}
              <img class="lozad" data-src="{{ .component.image.src }}" src="{{ .component.image.cover }}" {{ if .component.image.alt }} alt="{{ .component.image.alt }}" {{ end }}/>
            {{ else }}
              <img class="lozad" data-src="{{ .component.image.src }}" {{ if .component.image.alt }} alt="{{ .component.image.alt }}" {{ end }}/>
            {{ end }}

            <div class="centered-image-block-image-inner-wrap-bottom-small" data-aos="slide-down" data-aos-offset="0" data-aos-delay="1000" data-aos-once="true" data-aos-duration="400" data-aos-easing="ease-in-out"></div>
            <div class="centered-image-block-image-inner-wrap-bottom-shadow" data-aos="slide-down" data-aos-offset="0" data-aos-delay="1000" data-aos-once="true" data-aos-duration="400" data-aos-easing="ease-in-out"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clear-for-space"></div>

{{ end }}
