<!-- Options:
title: the main title
copy:
button:
  url:
  text:
-->

<section class="cta-block fill-green">
  <div class="section-container">
    {{ if .component.copy }}
    <div class="cta-block-inner flex flex-wrap xs-pt-40 xs-pb-40 prl-5 align-center">
    {{ else }}
    <div class="cta-block-inner flex flex-wrap xs-pt-40 xs-pb-40 sm-pt-70 sm-pb-70 prl-5 align-center">
    {{ end }}
      <div class="cta-block-inner-text">
        {{ if .component.title }}
        <h3 class="title-3 text-white xs-mb-10">{{ .component.title }}</h3>
        {{ end }}
        {{ if .component.copy }}
        <p class="text-19-regular text-white xs-mt-10 mw-90">{{ .component.copy }}</p>
        {{ end }}
      </div>
      {{ if and .component.button.text .component.button.url }}
      <div class="cta-block-inner-button flex align-center">
        <a id="cta-block" class="button button-medium button-white text-green button-shadow" href="{{ .component.button.url }}">{{ .component.button.text }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
