<div class="justify-center">
    <article class="lp">
        <section class="fill-dark-10 text-white">
          <div class="client-block-title">
            {{ if .component.title }}
            <h3>{{ .component.title }}</h3>
            {{ end }}
            {{ if .component.subTitle }}
            <h5 class="title-4 text-22-regular xs-pt-10">{{ .component.subTitle }}</h5>
            {{ end }}
          </div>
          <div class="border-left">
            <div class="features">
              <div class="feature">
                <h4 class="title-4">Unlimited vanity domain support</h4>
                <p class="text-18-regular">Unlimited SSL certificates</p>
              </div>
              <div class="feature">
                <h4 class="title-4">RESTful API</h4>
                <p class="text-18-regular">Onboard domains</p>
                <p class="text-18-regular">Provision SSL certificates</p>
                <p class="text-18-regular">Invalidate caches</p>
              </div>
              <div class="feature">
                <h4 class="title-4">Edge Workload</h4>
                <p class="text-18-regular">
                  Move more services to the edge, with support for Node.js and OpenResty.
                </p>
                <p class="logos align-center">
                  <img src="/images/pricing/nodejs-logo-white.png"/>
                  <img src="/images/global/logo/openresty.png"/>
                </p>
              </div>
            </div>
          </div>
        </section>
    </article>
</div>