<hr/>
<section class="section-hero-case-study xs-pt-60 xs-pb-60 prl-5">
  <div class="section-hero-case-study-inner section-container flex flex-column align-center justify-center">
    <div>
      <h1 class="title-2 text-title xs-mb-30">Hotjar Saves 456 Person-Years per Month with Section</h1>
      <p class="title-6 text-blockquote xs-mb-10">January 22, 2019</p>
      <ul class="list-flex xs-mt-8 xs-mb-40">
        <li class="xs-mr-20">
          <a class="text-18-regular text-green decoration-none fade-in-link-underline" href="/">Case Study</a>
        </li>
      </ul>
    </div>
    <img src="/images/case-study-img.jpg" alt="Case Study Hero Image">
  </div>
  <div class="section-hero-case-study-inner-bottom flex flex-wrap">
    <div class="section-hero-case-study-inner-bottom-left flex">
      <div>
        <img src="/images/hotjar-case-study.jpg" alt="Case Study Logo">
      </div>
    </div>
    <div class="section-hero-case-study-inner-bottom-right">
      <h5 class="title-5 text-black xs-mb-10">Industry</h5>
      <ul class="list-unstyled xs-mb-30">
        <li class="text-18-regular text-color">SaaS</li>
      </ul>
      <h5 class="title-5 text-black xs-mb-10">Key results</h5>
      <ul class="list-unstyled xs-mb-30">
        <li class="text-18-regular text-color">Reduced Page Load by 50%</li>
        <li class="text-18-regular text-color">Greater consistency in performance </li>
      </ul>
      <h5 class="title-5 text-black xs-mb-10">What they like most</h5>
      <ul class="list-unstyled xs-mb-30">
        <li class="text-18-regular text-color">Developer workflow</li>
        <li class="text-18-regular text-color">Engineer-to-engineer support</li>
      </ul>
    </div>
  </div>
</section>
