<!-- Options:
title:
color:
copy:
cta:
  url:
  text:
-->

{{ if .component.title }}

{{ $scratch := newScratch }}

{{ if (isset .component "color") }}
{{ $scratch.Set "color" .component.color }}
{{ else if isset .context.Params "color" }}
{{ $scratch.Set "color" .context.Params.color }}
{{ end }}

<section class='hero-color flex align-center justify-center {{ if $scratch.Get "color" }}fill-{{ $scratch.Get "color" }}{{ else }}fill-green{{ end }}'>
  <div class="hero-color-left relative">
    <div class="hero-color-left-large-stripe"></div>
    <div class="hero-color-left-small-color"></div>
    <div class="hero-color-left-small-stripe"></div>
  </div>
  <div class="hero-color-middle flex align-center justify-center relative">
    <div class="hero-color-middle-left-stripes"></div>
    <div>
      <h2 class="title-2 text-white">{{ .component.title }}</h2>
      {{ if .component.copy }}
      <p class="text-22-regular text-white xs-mt-30">{{ .component.copy }}</p>
      {{ end }}
      {{ if and .component.cta.url .component.cta.text }}
      <a class='button button-medium button-white xs-mt-30 {{ if $scratch.Get "color" }}text-{{ $scratch.Get "color" }}{{ else }}text-green{{ end }} button-shadow' href="{{ .component.cta.url }}">{{ .component.cta.text }}</a>
      {{ end }}
    </div>
    <div class="hero-color-middle-right-stripes"></div>
  </div>
  <div class="hero-color-right relative">
    <div class="hero-color-right-large-stripe"></div>
    <div class="hero-color-right-small-color"></div>
  </div>
</section>
{{ end }}
