<!-- Options:
color: [orange, green, purple, blue]
title: the main title
copy: the text under the title
cta:
  text:
  url:
listItems:
  - text:
    url:
images
-->

<div class="section-hero-home-alt {{ if .component.heroVariation }} -hero-home-variation{{ end }}">
  <div class="section-hero-home-alt-inner section-hero-container flex justify-center">
    <div class="section-hero-home-alt-inner-text">
      {{- if .component.title -}}
        {{- if .component.heroVariation -}}
        <h2 class="title-3 text-white xs-mb-40">{{ .component.title | markdownify }}</h2>
        {{- else -}}
        <h1 class="title-1 text-white xs-mb-30 xs-pl-30">{{ .component.title | markdownify }}</h1>
        {{- end -}}
      {{- end -}}
      {{- if .component.copy -}}
      <p class="text-22 text-white xs-mb-30 xs-pl-30">{{ .component.copy | markdownify }}</p>
      {{- end -}}
      {{- if .component.listItems -}}
      <ul class="section-list">
        {{ range .component.listItems}}
          <li>{{- . | safeHTML -}}</li>
        {{ end }}
        </ul>
      {{- end -}}
      <div class="xs-pl-30">
      {{- if and .component.cta.text .component.cta.url -}}
      <a id="home-hero" class="button button-medium button-green button-shadow" href="{{ .component.cta.url }}">{{ .component.cta.text }}</a>
      {{- end -}}
      </div>
    </div>
    <div class="section-hero-home-alt-inner-images flex align-center">


      {{ if isset .component "image" }}
      <div class="section-spread-block-image-alt flex align-start">

          <div class="section-spread-block-image-inner-wrap">
            {{ if .component.image.src }}
            <img class="lozad" data-src="{{ .component.image.src }}" {{ if .component.image.alt }}alt="{{ .component.image.alt }}"{{ end }}/>
            {{ end }}
          </div>

      </div>
      {{ end }}
    </div>
  </div>
</div>
