<section class=' xs-pb-40 xs-pt-10 text-center'>
    <div class='section-container relative'>
        <table class='pricing-table'>
            <tr>
                <th>Features</th>
                <th>Developer</th>
                <th>Core</th>
                <th>Pro</th>
                <th>Enterprise</th>
            </tr>

            <tr>
                <td>Max # edge locations<br><span class='text-13'>Serve traffic across Section's global edge network</span></td>
                <td>1</td>
                <td>3</td>
                <td>5</td>
                <td>All</td>
            </tr>
            <tr>
                <td>Max # domains per account<br><span class='text-13'>Seamlessly manage your domains</span></td>
                <td>1</td>
                <td>1</td>
                <td>5</td>
                <td>Unlimited</td>
            </tr>
            <tr>
                <td>HTTP requests (monthly)<br><span class='text-13'>Scale to meet traffic demands</span></td>
                <td>1M</td>
                <td>5M</td>
                <td>35M</td>
                <td>Unlimited</td>
            </tr>
            <tr>
                <td>Add-on HTTP requests (monthly)<br><span class='text-13'>Flexible add-on pricing</span></td>
                <td>-</td>
                <td>$6/million</td>
                <td>$5/million</td>
                <td>Get quote</td>
            </tr>
            <tr>
                <td>Application sleep<br><span class='text-13'>Period of time with zero requests triggering application sleep</span></td>
                <td>1 hour</td>
                <td>1 hour</td>
                <td>Never sleeps</td>
                <td>Never sleeps</td>
            </tr>
            <tr>
                <td>Add-on modules<br><span class='text-13'>Customize your edge stack with add-on modules (additional charges apply)</span></td>
                <td>-</td>
                <td>-</td>
                <td>Caching,<br>Image Optimization</td>
                <td>Edge module<br>marketplace</td>
            </tr>
            <tr>
                <td>Core DDoS protection<br><span class='text-13'>Layer 3 and 4 protection through our high capacity edge network</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>Managed SSL certificates<br><span class='text-13'>Automatically procure, install, and renew SSL certificates</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>Edge IP range management<br><span class='text-13'>Control what traffic reaches your web servers</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>HTTP/2<br><span class='text-13'>All traffic through Section is delivered using modern protocols</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td># Users<br><span class='text-13'>Invite and collaborate with your team</span></td>
                <td>Unlimited</td>
                <td>Unlimited</td>
                <td>Unlimited</td>
                <td>Unlimited</td>
            </tr>
            <tr>
                <td>Metrics<br><span class='text-13'>13 months of retained metrics to evaluate application performance</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>Logs<br><span class='text-13'>7 days of retained logs using the ELK stack</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>Real-time traffic visualization<br><span class='text-13'>Dynamic global view of edge operations</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>Git-backed CI/CD workflows<br><span class='text-13'>Integrate your edge stack into your development pipeline</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>APIs<br><span class='text-13'>Integrate and automate to optimize DevOps workflows</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>Instant Global Deployments<br><span class='text-13'>Propagate configuration changes across a global edge network in milliseconds</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>Adaptive Edge Engine<br><span class='text-13'>Dynamic edge routing, healing, scaling, placement, and orchestration</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>Docs/Community Support<br><span class='text-13'>Access an extensive library of technical documentation and community support forum</span></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>24x7 support<br><span class='text-13'>Premium support when you need - available all day, every day</span></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>PCI compliance available<br><span class='text-13'>PCI compliant infrastructure to meet your regulatory requirements (additional charges apply)</span></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
            <tr>
                <td>Professional services<br><span class='text-13'>Section's team of experienced solutions engineers acts as an extension of your team (additional charges apply)</span></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><img class='icon' src='/images/pricing/black-checkmark.png'></td>
            </tr>
        </table>
    </div>
</section>