
<div id="nodejs-pricing">
  <section class='section-pricing-nodejs xs-pb-40 xs-pt-10 text-center'>
    <div class='section-container relative'>
      <div class='section-pricing-nodejs-inner flex flex-wrap justify-center'>



        <div class='section-pricing-nodejs block'>
          <div class='cta-shadow-no-hover'>
            <div class='section-pricing-nodejs block header'>
              <div id="nodejs-developer" class='fill-dark text-center xs-pb-10 xs-pt-10 section-pricing-nodejs block header tab' onclick="showPricingPanel(0, '#00a86b')">
                <span class='text-white block title-4'>Developer</span>
                <span class='text-white block xs-mt-10 xs-mb-10 text-18'>Free</span>
              </div>
              
              <div id="nodejs-core" class='fill-dark text-center xs-pb-10 xs-pt-10 section-pricing-nodejs block header tab' onclick="showPricingPanel(1, '#00a86b')">
                <span class='text-white block title-4'>Core</span>
                <span class='text-white block xs-mt-10 xs-mb-10 text-18'>$20 / month</span>
              </div>
              
              <div id='nodejs-pro' class='fill-dark text-center xs-pb-10 xs-pt-10 section-pricing-nodejs block header tab' onclick="showPricingPanel(2, '#00a86b')">
                <span class='text-white block title-4'>Pro</span>
                <span class='text-white block xs-mt-10 xs-mb-10 text-18'>$175 / month</span>
              </div>

              <div id="nodejs-enterprise" class='fill-dark text-center xs-pb-10 xs-pt-10 section-pricing-nodejs block header tab' onclick="showPricingPanel(3, '#00a86b')">
                <span class='text-white block title-4'>Enterprise</span>
                <span class='text-white block xs-mt-10 xs-mb-10 text-18'>Customize your quote</span>

              </div>
            </div>
            
            <div class="section-rich-text section-pricing-nodejs panel">
              <div class='section-pricing-nodejs-block-content-wrap fill-white'>
                <div class='section-pricing-nodejs-block-content xs-pt-5 xs-pb-30 xs-pl-20 xs-pr-20'>
                  <div class='section-pricing-nodejs-block-content-wrap fill-white'>
                    <div class='nodejs-pricing'>
                      <div class='nodejs-pricing-items justify-center flex flex-wrap'>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>1</span><br><span class='text-16'>max # edge delivery locations</span></li>
                            <li class="enabled">Core DDoS protection</li>
                            <li class="enabled">SSL certificates</li>
                            <li class="enabled">Edge IP range management</li>
                            <li class="enabled">HTTP/2</li>
                            <li class="enabled">Unlimited users</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>1</span><br><span class='text-16'>max # domains per account</span></li>
                            <li class="enabled">Metrics (13 months)</li>
                            <li class="enabled">Logs (7 days)</li>
                            <li class="enabled">Real-time traffic visualization</li>
                            <li class="enabled">Git-backed CI/CD workflows</li>
                            <li class="enabled">APIs</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>1M</span><br><span class='text-16'>HTTP requests per month</span></li>
                            <li class="enabled">Instant global deployments</li>
                            <li class="enabled">Adaptive Edge Engine</li>
                            <li class="enabled">Docs/Community support</li>
                            <li class="disabled">Add-on requests (millions)</li>
                            <li class="disabled">Add-on modules available</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>1 hour</span><br><span class='text-16'>sleep delay after zero requests</span></li>
                            <li class="disabled">24x7 support</li>
                            <li class="disabled">PCI compliance</li>
                            <li class="disabled">Professional services</li>
                          </ul>
                          <div class='button-group-active xs-pt-20'>
                            {{ if and .component.cta1.url .component.cta1.text }}
                            <a class='button button-ltgreen button-medium' style="width: 100%" href="{{ .component.cta1.url }}">{{ .component.cta1.text }}</a>
                            {{ end }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-rich-text section-pricing-nodejs panel">
              <div class='section-pricing-nodejs-block-content-wrap fill-white'>
                <div class='section-pricing-nodejs-block-content xs-pt-5 xs-pb-30 xs-pl-20 xs-pr-20'>
                  <div class='section-pricing-nodejs-block-content-wrap fill-white'>
                    <div class='nodejs-pricing'>
                      <div class='nodejs-pricing-items justify-center flex flex-wrap'>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>3</span><br><span class='text-16'>max # edge delivery locations</span></li>
                            <li class="enabled">Core DDoS protection</li>
                            <li class="enabled">SSL certificates</li>
                            <li class="enabled">Edge IP range management</li>
                            <li class="enabled">HTTP/2</li>
                            <li class="enabled">Unlimited users</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>1</span><br><span class='text-16'>max # domains per account</span></li>
                            <li class="enabled">Metrics (13 months)</li>
                            <li class="enabled">Logs (7 days)</li>
                            <li class="enabled">Real-time traffic visualization</li>
                            <li class="enabled">Git-backed CI/CD workflows</li>
                            <li class="enabled">APIs</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>5M</span><br><span class='text-16'>HTTP requests per month</span></li>
                            <li class="enabled">Instant global deployments</li>
                            <li class="enabled">Adaptive Edge Engine</li>
                            <li class="enabled">Docs/Community support</li>
                            <li class="enabled">Add-on requests ($6/million)</li>
                            <li class="disabled">Add-on modules available</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>1 hour</span><br><span class='text-16'>sleep delay after zero requests</span></li>
                            <li class="disabled">24x7 support</li>
                            <li class="disabled">PCI compliance</li>
                            <li class="disabled">Professional services</li>
                          </ul>
                          <div class='button-group-active xs-pt-20'>
                            {{ if and .component.cta2.url .component.cta2.text }}
                            <a class='button button-ltgreen button-medium' style="width: 100%" href="{{ .component.cta2.url }}">{{ .component.cta2.text }}</a>
                            {{ end }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="section-rich-text section-pricing-nodejs panel">
              <div class='section-pricing-nodejs-block-content-wrap fill-white'>
                <div class='section-pricing-nodejs-block-content xs-pt-5 xs-pb-30 xs-pl-20 xs-pr-20'>
                  <div class='section-pricing-nodejs-block-content-wrap fill-white'>
                    <div class='nodejs-pricing'>
                      <div class='nodejs-pricing-items justify-center flex flex-wrap'>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>5</span><br><span class='text-16'>max # edge delivery locations</span></li>
                            <li class="enabled">Core DDoS protection</li>
                            <li class="enabled">SSL certificates</li>
                            <li class="enabled">Edge IP range management</li>
                            <li class="enabled">HTTP/2</li>
                            <li class="enabled">Unlimited users</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>5</span><br><span class='text-16'>max # domains per account</span></li>
                            <li class="enabled">Metrics (13 months)</li>
                            <li class="enabled">Logs (7 days)</li>
                            <li class="enabled">Real-time traffic visualization</li>
                            <li class="enabled">Git-backed CI/CD workflows</li>
                            <li class="enabled">APIs</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>35M</span><br><span class='text-16'>HTTP requests per month</span></li>
                            <li class="enabled">Instant global deployments</li>
                            <li class="enabled">Adaptive Edge Engine</li>
                            <li class="enabled">Docs/Community support</li>
                            <li class="enabled">Add-on requests ($5/million)</li>
                            <li class="enabled">Add-on modules available</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>Never sleeps</span><br><span class='text-16'>delay after zero requests</span></li>
                            <li class="disabled">24x7 support</li>
                            <li class="disabled">PCI compliance</li>
                            <li class="disabled">Professional services</li>
                          </ul>
                          <div class='button-group-active xs-pt-20'>
                            {{ if and .component.cta3.url .component.cta3.text }}
                            <a class='button button-ltgreen button-medium' style="width: 100%" href="{{ .component.cta3.url }}">{{ .component.cta3.text }}</a>
                            {{ end }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          
            <div class="section-rich-text section-pricing-nodejs panel">
              <div class='section-pricing-nodejs-block-content-wrap fill-white'>
                <div class='section-pricing-nodejs-block-content xs-pt-5 xs-pb-30 xs-pl-20 xs-pr-20'>
                  <div class='section-pricing-nodejs-block-content-wrap fill-white'>
                    <div class='nodejs-pricing'>
                      <div class='nodejs-pricing-items justify-center flex flex-wrap'>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>All</span><br><span class='text-16'>edge delivery locations</span></li>
                            <li class="enabled">Core DDoS protection</li>
                            <li class="enabled">SSL certificates</li>
                            <li class="enabled">Edge IP range management</li>
                            <li class="enabled">HTTP/2</li>
                            <li class="enabled">Unlimited users</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>Unlimited</span><br><span class='text-16'>domains per account</span></li>
                            <li class="enabled">Metrics (13 months)</li>
                            <li class="enabled">Logs (7 days)</li>
                            <li class="enabled">Real-time traffic visualization</li>
                            <li class="enabled">Git-backed CI/CD workflows</li>
                            <li class="enabled">APIs</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>Unlimited</span><br><span class='text-16'>HTTP requests per month</span></li>
                            <li class="enabled">Instant global deployments</li>
                            <li class="enabled">Adaptive Edge Engine</li>
                            <li class="enabled">Docs/Community support</li>
                            <li class="enabled">Add-on requests (get quote)</li>
                            <li class="enabled">Add-on modules available</li>
                          </ul>
                        </div>
                        <div class="nodejs-pricing-items-item">
                          <ul class="nodejs-pricing-features">
                            <li class="numbered xs-pb-10"><span class='text-22'>Never sleeps</span><br><span class='text-16'>delay after zero requests</span></li>
                            <li class="enabled">24x7 support</li>
                            <li class="enabled">PCI compliance</li>
                            <li class="enabled">Professional services</li>
                          </ul>
                          <div class='button-group-active xs-pt-20'>
                            {{ if and .component.cta4.url .component.cta4.text }}
                            <a class='button button-ltgreen button-medium' style="width: 100%" href="{{ .component.cta4.url }}">{{ .component.cta4.text }}</a>
                            {{ end }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{ $nodejsPricing := resources.Get "js/nodejsPricing.js" }}
<script type="text/javascript" src="{{ $nodejsPricing.Permalink }}" ></script>
