<div>
  <section class='section-pricing xs-pb-30 xs-pt-10'>
    <div class='section-container relative'>
      <div class='section-pricing-inner flex flex-wrap justify-center'>

        <div class='section-pricing-block section-rich-text'>
          <div class='cta-shadow-no-hover'>
            <div class='section-pricing-block-header relative text-center xs-pl-20 xs-pr-20 xs-pb-40 xs-pt-50'>
              <img src='/images/pricing/starter-stack-icon.png' style='width: 17%; margin-bottom: 10px;'>
              <span class='text-dark block title-4 xs-mb-20'>Explore our Edge Services Starter Stacks</span>
              <div class='text-dark block xs-mb-20'>Jump start your edge configuration with ready-to-go security and performance solutions. Simple, flexible, and ready for production traffic in minutes.</div>
              <div class='button-group'>
                <a href='/pricing/starter-edge-stacks' class='button button-ltgreen button-medium xs-ml-70 xs-mr-70' style='width: 100%;'>View Options</a>
              </div>
            </div>
          </div>
        </div>

        <div class='section-pricing-block section-rich-text'>
          <div class='cta-shadow-no-hover'>
            <div class='section-pricing-block-header relative text-center xs-pl-20 xs-pr-20 xs-pb-40 xs-pt-50'>
              <img src='/images/pricing/build-stack-icon.png' style='width: 20%; margin-bottom: 10px;'>
              <span class='text-dark block title-4 xs-mb-20'>Build a Custom Edge Services Stack</span>
              <div class='text-dark block xs-mb-20'>For maximum flexibility from the start, work with a blank slate and customize your stack with premium edge services to suit your application. </div>
              <div class='button-group'>
                <a href='/pricing/build-your-edge-stack' class='button button-ltgreen button-medium xs-ml-70 xs-mr-70' style='width: 100%;'>View Options</a>
              </div>
            </div>
          </div>
        </div>

        <div class='section-pricing-block section-rich-text fill-dark'>
          <div class='cta-shadow-no-hover'>
            <div class='section-pricing-block-header relative text-center xs-pl-20 xs-pr-20 xs-pb-40 xs-pt-50'>
              <img src='/images/pricing/nodejs-logo-white.png' style='width: 35%; margin-bottom: 10px;'>
              <span class='text-white block title-4 xs-mb-20'>Edge Hosting</span><br>
              <div class='text-white block xs-mb-20'>Run mission critical Node.js applications at the network edge for blazingly fast results with enterprise-level AppSec protection.</div>
              <div class='button-group'>
                <a href='/pricing/nodejs-edge-hosting/' class='button button-ltgreen button-medium xs-ml-70 xs-mr-70' style='width: 100%;'>View Options</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
