<div>
  <section class='section-pricing xs-pb-10 xs-pt-10'>
    <div class='section-container relative'>
      <div class='section-pricing-inner flex flex-wrap justify-center'>

        <div class='section-pricing-block section-rich-text'>
          <div class='cta-shadow-no-hover'>
            <div class='section-pricing-block-header relative fill-dark text-center xs-pl-20 xs-pr-20 xs-pb-50 xs-pt-50'>
              <span class='text-white block title-4 xs-mb-20'>Accelerate + Secure</span>
              <div class='button-group'>
                <button class='button button-ltgreen button-medium xs-ml-70 xs-mr-70' @click='validateForm' style='width: 100%;' v-bind:disabled='formDisabled'>Get Started</button>
              </div>
              <span class='text-white'><br/>Accelerate your application and protect it with a modern Web Application Firewall from Templarbit.<br/><br/>Starting at $395/month<br/>1st Month Free</span>
            </div>
            <div class='section-pricing-block-content-wrap fill-white'>
              <div class='section-pricing-block-content xs-pt-20 xs-pl-10 xs-pr-20'>
                <img src='/images/pricing/pricing-accelerate-secure.png' style='width: 80%;' class='xs-ml-70 xs-mr-70'>
              </div>
              <div class='section-pricing-block-footer'>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
