<div>
  <section class='section-pricing xs-pb-10 xs-pt-10'>
    <div class='section-container relative'>
      <div class='section-pricing-inner flex flex-wrap justify-center'>

        <div class='section-pricing-block section-rich-text'>
          <div class='cta-shadow-no-hover'>
            <div class='section-pricing-block-header relative fill-dark text-center xs-pl-20 xs-pr-20 xs-pb-50 xs-pt-50'>
              <span class='text-white block title-4 xs-mb-20'>Containers</span>
              <div class='button-group'>
                <button class='button button-ltgreen button-medium xs-ml-70 xs-mr-70'style='width: 100%;'>Get Started</button>
              </div>
            </div>
            <div class='section-pricing-block-content-wrap fill-white'>
              <div class='section-pricing-block-content xs-pt-20 xs-pl-20 xs-pr-20'>
                <div class="xs-pb-50">Deploy your containerized workload at the edge.
                </div>
              </div>
              <div class='section-pricing-block-footer'>
              </div>
            </div>
          </div>
        </div>

        <div class='section-pricing-block section-rich-text'>
          <div class='cta-shadow-no-hover'>
            <div class='section-pricing-block-header relative fill-dark text-center xs-pl-20 xs-pr-20 xs-pb-50 xs-pt-50'>
              <span class='text-white block title-4 xs-mb-20'>Serverless</span>
              <div class='button-group'>
                <button class='button button-ltgreen button-medium xs-ml-70 xs-mr-70' style='width: 100%;'>Get Started</button>
              </div>
            </div>
            <div class='section-pricing-block-content-wrap fill-white'>
              <div class='section-pricing-block-content xs-pt-20 xs-pl-20 xs-pr-20'>
                <div class="xs-pb-50">Deploy code at the edge.
                </div>
              </div>
              <div class='section-pricing-block-footer'>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
