//
// Table Styles
// --------------------------------------------------

table {
  @include tabular-figures;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: 700;
  vertical-align: bottom;
}

th,
td {
  // padding: $space-1;
}

td {
  vertical-align: top;
  padding-bottom: 15px;
  padding-right: 10px;
}
