<!-- Primary Tags -->
<meta name="title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="apple-mobile-web-app-title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
<meta name="application-name" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />

<!-- Open Graph Protocol http://ogp.me/ -->
<!-- <meta property="fb:app_id" content="your_app_id" /> -->
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ if .Params.title }}{{ .Params.title }}{{ end }}">
<meta property="og:image" content='{{ if .Params.images }}{{ (index .Params.images 0).url }}{{ else }}{{.Site.BaseURL}}images/social-share.jpg{{ end }}'>
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">

<!-- Twitter -->
<meta name="twitter:site" content="@sectionio">
<meta name="twitter:creator" content="@sectionio" />
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
<meta property="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="twitter:image" content='{{ if .Params.images }}{{ (index .Params.images 0).url }}{{ else }}{{.Site.BaseURL}}images/social-share.jpg{{ end }}'>
