alembic==1.7.1
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
GeoAlchemy2==0.9.4
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
packaging==21.0
psycopg2==2.9.1
pyparsing==2.4.7
Shapely==1.7.1
SQLAlchemy==1.4.23
Werkzeug==2.0.1
