.author-blocks {

  &-left {

    &-large {
      width: pxem(150);
      height: pxem(150);
      background: $fill-blue;
      transition: all 1s ease;
      z-index: 9;
      margin-top: pxem(40);
    }

    &-stripes {
      display: block;
      width: pxem(140);
      height: pxem(140);
      margin-top: pxem(120);
      margin-left: pxem(-60);
      background: repeating-linear-gradient(
        -45deg,
        $fill-blue,
        $fill-white 2px,
        $fill-white 13px,
        $fill-blue 13px
      );
      transition: all 1s ease;
      opacity: 0.5;
    }
  }

  &-right {

    &-large {
      width: pxem(240);
      height: pxem(170);
      border-left: pxem(5) solid $text-black;
      background: $fill-blue;
      right: 0;
      margin-right: pxem(-60);
      bottom: 0;
      transition: all 1s ease;
      z-index: 9;
    }

    &-stripes {
      display: block;
      width: pxem(185);
      height: pxem(185);
      right: 0;
      bottom: pxem(60);
      background: repeating-linear-gradient(
        -45deg,
        $fill-blue,
        $fill-white 2px,
        $fill-white 13px,
        $fill-blue 13px
      );
      transition: all 1s ease;
      opacity: 0.5;
    }
  }

  &-header {
    padding-left: 5%;
    padding-right: 5%;
    transition: all 1s ease;
    margin-bottom: 60px;

    @include mq($from: 660px ) {
      margin-bottom: 40px;
    }

    @include mq($from: 720px ) {
      padding-left: 2.5%;
      padding-right: 2.5%;
      margin-bottom: 0;
    }

    @include mq($from: 968px ) {
      margin-left: 1.5%;
    }
  }

  &-inner {
    padding-left: 5%;
    padding-right: 5%;
    transition: all 1s ease;
    height: 100%;
    z-index: 10;

    @include mq($from: 720px ) {
      padding-left: 2.5%;
      padding-right: 2.5%;
    }
  }

  &-item {
    @include flex-width-grid(100%);
    margin-bottom: pxem(40);

    // @include mq($from: 720px ) {
    //   @include flex-width-grid(47%);
    //   margin-left: 1.5%;
    //   margin-right: 1.5%;
    // }

    @include mq($from: 720px ) {
      @include flex-width-grid(20%);
      margin-left: 1%;
      margin-right: 1%;
    }

    &-wrap {
      border-bottom-left-radius: pxem(3);
      border-bottom-right-radius: pxem(3);
      position: relative;
      z-index: 10;
      height: 100%;
      background: transparent;

      &:hover {

        .link-with-arrow-green-nh {
          &:after {
            margin-left: pxem(12);
          }
        }

        .link-with-arrow-black-nh {
          &:after {
            margin-left: pxem(12);
          }
        }

        .link-with-arrow-blue-nh {
          &:after {
            margin-left: pxem(12);
          }
        }
      }
    }

    img {
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      max-width: 100%;
      height: pxem(160);
      object-fit: cover;
      object-position: center;
      // padding: 5%;
      background-color: white;
    }

    &-content {

      height: 100%;
      background: $fill-white;

      &-inner {
        padding-left: 7.5%;
        padding-right: 7.5%;
        height: 100%;
      }

      span {

        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-bottom: 5%;
      }
    }
  }

  &.-green-blocks {

    .resource-block-left-large {
      background: $fill-green;
      margin-top: 70px;

      @include mq($from: 660px ) {
        margin: 0;
      }
    }

    .resource-block-left-stripes {
      background: repeating-linear-gradient(
        -45deg,
        $fill-green,
        $fill-white 2px,
        $fill-white 13px,
        $fill-green 13px
      );
    }

    .resource-block-right-large {
      background: $fill-green;
    }

    .resource-block-right-stripes {
      background: repeating-linear-gradient(
        -45deg,
        $fill-green,
        $fill-white 2px,
        $fill-white 13px,
        $fill-green 13px
      );
    }
  }

  &.-orange-blocks {

    .resource-block-left-large {
      background: $fill-orange;
      margin-top: 70px;

      @include mq($from: 660px ) {
        margin: 0;
      }
    }

    .resource-block-left-stripes {
      background: repeating-linear-gradient(
        -45deg,
        $fill-orange,
        $fill-white 2px,
        $fill-white 13px,
        $fill-orange 13px
      );
    }

    .resource-block-right-large {
      background: $fill-orange;
    }

    .resource-block-right-stripes {
      background: repeating-linear-gradient(
        -45deg,
        $fill-orange,
        $fill-white 2px,
        $fill-white 13px,
        $fill-orange 13px
      );
    }
  }

  &.purple-blocks {

    .resource-block-left-large {
      background: $fill-purple;
      margin-top: 70px;

      @include mq($from: 660px ) {
        margin: 0;
      }
    }

    .resource-block-left-stripes {
      background: repeating-linear-gradient(
        -45deg,
        $fill-purple,
        $fill-white 2px,
        $fill-white 13px,
        $fill-purple 13px
      );
    }

    .resource-block-right-large {
      background: $fill-purple;
    }

    .resource-block-right-stripes {
      background: repeating-linear-gradient(
        -45deg,
        $fill-purple,
        $fill-white 2px,
        $fill-white 13px,
        $fill-purple 13px
      );
    }
  }
}

.author-carousel {

  &-header {
    padding-left: 5%;
    padding-right: 5%;
    transition: all 1s ease;
    margin-bottom: 20px;

    @include mq($from: 660px ) {
      margin-bottom: 40px;
    }

    @include mq($from: 720px ) {
      padding-left: 2.5%;
      padding-right: 2.5%;
      margin-bottom: 0;
    }

    @include mq($from: 968px ) {
      margin-left: 1.5%;
    }
  }

  &-inner {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    transition: all 1s ease;
    height: 100%;
    z-index: 10;

    @include mq($from: 720px ) {
      padding-left: 2.5%;
      padding-right: 2.5%;
    }
  }

  &-item {
    @include flex-width-grid(35%);
    margin-bottom: pxem(40);
    margin-left: 2%;
    margin-right: 2%;

    position: relative;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 45s;

    @include mq($from: 920px ) {
      @include flex-width-grid(10%);
      margin-left: 1%;
      margin-right: 1%;
    }

    @keyframes run {
      0% {
        right: 0;
      }
      100% {
        right: 100%;    
      }
    }

    &-wrap {
      border-bottom-left-radius: pxem(3);
      border-bottom-right-radius: pxem(3);
      position: relative;
      z-index: 10;
      height: 100%;
      background: transparent;

      &:hover {

        .link-with-arrow-green-nh {
          &:after {
            margin-left: pxem(12);
          }
        }

        .link-with-arrow-black-nh {
          &:after {
            margin-left: pxem(12);
          }
        }

        .link-with-arrow-blue-nh {
          &:after {
            margin-left: pxem(12);
          }
        }
      }
    }

    img {
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      max-height: pxem(100);
      object-fit: cover;
      object-position: center;
      background-color: white;
    }

    &-content {

      height: 100%;
      background: $fill-white;

      &-inner {
        padding-left: 7.5%;
        padding-right: 7.5%;
        height: 100%;
      }

      span {

        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-bottom: 5%;
      }
    }
  }

}
