.blog-listing {

  &-search {

    &-container {
      max-width: pxem(880);
      padding-left: 5%;
      padding-right: 5%;
    }

    &.-no-submit {

      input {
        width: 100%;
      }
    }

    &-form {
      position: relative;

      button,
      .button {
        @include button-green;
        line-height: 11px;
        padding: 20px 45px;
        width: 100%;

        // &.-active {
        //   @include button-green;
        // }

        @include mq($from: $breakpoint-small) {
          width: 20%;
        }
      }
      button,
      .button-enged {
        @include button-blue;
        line-height: 11px;
        padding: 20px 45px;
        width: 100%;
        text-decoration: none;

        // &.-active {
        //   @include button-blue;
        // }

        @include mq($from: $breakpoint-small) {
          width: 20%;
        }
      }
    }

    input {
      background-color:#f2f2f2;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(1 1)' stroke='%236B6B6C' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cpath d='M15 15l-4-4'/%3E%3Ccircle cx='6.429' cy='6.429' r='6.429'/%3E%3C/g%3E%3C/svg%3E");
      background-position: 7px 17px;
      background-repeat: no-repeat;
      outline:none;
      border:none;
      font-size:18px;
      width:100%;
      display:block;
      padding-top:15px;
      padding-right:15px;
      padding-bottom:15px;
      padding-left: 30px;
      margin-bottom: 20px;

      @include mq($from: $breakpoint-small) {
        background-position: 25px 17px;
        width:80%;
        padding-left: 60px;
        margin-bottom: 0;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $blockquote-name;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: $blockquote-name;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: $blockquote-name;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $blockquote-name;
      }
    }
  }

  &-categories-container {
    max-width: pxem(880);
    padding-left: 5%;
    padding-right: 5%;

    a {
      @include link-effect;

      &:hover {
        cursor: pointer;
      }

      &.mixitup-control-active {
        @include gt-bold;
      }
    }
  }

  &-posts-container {
    max-width: pxem(990);
  }

  &-posts-item {
    border-top: 1px solid $border-color;
    margin: 0 5%;

    @include mq($from: 1020px ) {
      margin: 0;
    }

    &:hover {
      box-shadow: 0 pxem(4) pxem(9) 0 rgba(0, 0, 0, 0.15);
      border-top: 1px solid transparent;
    }

    &-image {
      flex: 0 1 auto;
      max-width: 400px;
      margin-bottom: pxem(20);

      @include mq($from: $breakpoint-medium) {
        margin-right: 3%;
        margin-bottom: 0;
        max-width: 30%;
        width: 30%;
      }
    }

    &-content {
      flex: 0 1 auto;
      max-width: 100%;

      @include mq($from: $breakpoint-medium) {
        max-width: 67%;
      }
    }
  }
}
