.centered-image-block.-with-gif {
  margin-bottom: pxem(-200);

  .centered-image-block-header {
    max-width: pxem(736);
    margin: 0 auto pxem(60);
    padding: 0 5%;

    @include mq($from: 600px ) {
      margin: 0 auto pxem(20);
      padding: 0;
    }
  }

  .centered-image-block-image {

    img {
      width: 704px;
      max-width: 100%;
      height: auto;
      border: 8px solid #E3E5E8;
      border-radius: 5px;
      z-index: 10;
      position: relative;
    }

    &-inner {
      padding-right: 0;

      @include mq($from: 890px ) {
        padding-right: 5%;
      }

      &-wrap {
        position: relative;

        &-top {

          &-stripes {
            position: absolute;
            display: block;
            width: pxem(140);
            height: pxem(140);
            top: 0;
            right: 0;
            margin-top: pxem(-80);
            margin-right: pxem(80);
            background: repeating-linear-gradient(
              -45deg,
              $fill-blue,
              transparent 2px,
              transparent 10px,
              $fill-blue 10px
            );
            transition: all 1s ease;
            opacity: 0.5;
          }

          &-small {
            position: absolute;
            top: 0;
            left: 0;
            background: $fill-blue;
            margin-top: 20px;
            margin-left: -16px;
            height: pxem(73);
            width: pxem(121);
            z-index: 8;
            border-top-left-radius: 5px;
          }

          &-large {
            position: absolute;
            width: pxem(195);
            height: pxem(143);
            border-right: pxem(5) solid $text-black;
            background: $fill-light-blue;
            margin-right: -20px;
            z-index: 8;
            transition: all 1s ease;
            left: 0;
            top: 0;
            margin-top: -50px;
            margin-left: -100px;
          }

          &-bottom-stripes {
            position: absolute;
            display: block;
            width: pxem(140);
            height: pxem(140);
            top: 0;
            left: 0;
            z-index: 6;
            margin-top: pxem(40);
            margin-left: -60px;
            background: repeating-linear-gradient(
              -45deg,
              $fill-blue,
              transparent 2px,
              transparent 10px,
              $fill-blue 10px
            );
            transition: all 1s ease;
            opacity: 0.5;
          }
        }

        &-bottom {

          &-small {
            height: pxem(80);
            width: pxem(80);
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: -35px;
            margin-bottom: -30px;
            background: $fill-blue;
          }

          &-shadow {
            width: 31px;
            height: 77px;
            background: #127AAB;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: pxem(14);
            margin-bottom: pxem(-12);
            border-bottom-right-radius: pxem(5);
          }
        }
      }
    }
  }

  .centered-image-block-content {
    @include flex-width(100%);

    @include mq($from: 890px ) {
      @include flex-width(50%);
    }

    &-inner {
      padding-left: 0;

      h2 {
        margin-bottom: pxem(25);
        max-width: pxem(443);
      }

      p {
        margin-bottom: pxem(20);
      }

      @include mq($from: 890px ) {
        padding-left: 5%;
      }
    }
  }
}

.clear-for-space {
  height: 300px;
  background: $fill-white;

  @include mq($from: $breakpoint-small ) {
    height: 200px;
    background: $fill-white;
  }
}
