.hero-blocks.-centered-text.-blue-blocks {

  flex-direction: column;

  @include mq($from: 700px ) {
    flex-direction: row;
  }

  .hero-blocks-mobile {
    display: flex;

    &-left {
      margin-bottom: 20px;

      &-small {
        width: pxem(60);
        height: pxem(60);
        background: $fill-light-blue;
        top: 0;
        margin-top: pxem(140);
        display: block;
        margin-left: 100px;
        left: 0;
        z-index: 99;
        transition: all 1s ease;
      }

      &-large {
        width: pxem(123);
        height: pxem(173);
        background: $fill-blue;
        margin-bottom: 100px;
        transition: width 1s ease;

        @include mq($from: 500px, $to: 700px) {
          width: pxem(193);
        }
      }
    }

    &-right {

      &-large {
        width: pxem(203);
        height: pxem(193);
        border-left: pxem(10) solid $text-black;
        background: $fill-blue;
        margin-right: -20px;
        z-index: 9;
        transition: all 1s ease;

        @include mq($from: 500px, $to: 700px) {
          width: pxem(243);
        }
      }

      &-stripes {
        display: block;
        width: pxem(140);
        height: pxem(140);
        top: 40%;
        right: 20%;

        background: repeating-linear-gradient(
          -45deg,
          $fill-blue,
          $fill-white 2px,
          $fill-white 13px,
          $fill-blue 13px
        );
        transition: all 1s ease;
      }
    }

    @include mq($from: 700px ) {
      display: none;
    }
  }

  min-height: pxem(300);

  @include mq($from: 1160px ) {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-blocks-left {

    @include mq($to: 700px ) {
      display: none;
    }

    &-small {
      width: pxem(60);
      height: pxem(60);
      background: $fill-light-blue;
      top: 0;
      margin-top: pxem(240);
      margin-right: pxem(-25);
      display: block;
      right: 0;
      z-index: 99;
      transition: all 1s ease;
    }

    &-large {
      width: pxem(256);
      height: pxem(193);
      margin-left: -130px;
      margin-top: pxem(80);
      border-right: pxem(10) solid $text-black;
      display: block;
      background: $fill-blue;
      z-index: 9;
      transition: all 1s ease;

      @include mq($from: 1100px ) {
        margin-left: -70px;
        margin-top: pxem(80);
      }

      @include mq($from: 1300px ) {
        margin-left: 0;
        margin-top: pxem(80);
      }
    }

    &-stripes {
      display: block;
      width: pxem(145);
      height: pxem(145);
      top: 0;
      margin-top: pxem(-30);
      opacity: 0.5;

      background: repeating-linear-gradient(
        -45deg,
        $fill-blue,
        $fill-white 2px,
        $fill-white 13px,
        $fill-blue 13px
      );
      transition: all 1s ease;

      // @include mq($from: 1100px ) {

      // }

      // @include mq($from: 1300px ) {

      // }
    }
  }

  .hero-blocks-middle {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;

    @include mq($from: 700px ) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  .hero-blocks-right {

    @include mq($to: 700px ) {
      display: none;
    }

    &-small {
      width: pxem(60);
      height: pxem(60);
      background: $fill-light-blue;
      top: 0;
      margin-top: -28px;
      display: block;
      right: 82%;
      z-index: 99;
      transition: all 1s ease;
    }

    &-large {
      width: pxem(231);
      height: pxem(193);
      background: $fill-blue;
      border: none;
      z-index: 9;
      transition: all 1s ease;

      @include mq($from: 1100px ) {
        margin: 0;
      }

      @include mq($from: 1300px ) {
        right: 10%;
      }
    }

    &-stripes {
      top: 40%;
      right: 0;
      margin-right: -70px;
      width: pxem(167);
      height: pxem(185);
      background: repeating-linear-gradient(
        -45deg,
        $fill-blue,
        $fill-white 2px,
        $fill-white 13px,
        $fill-blue 13px
      );
      opacity: 0.5;

      @include mq($from: 1100px ) {
        margin: 0;
      }

      @include mq($from: 1300px ) {
        margin: 0;
      }
    }
  }
}
