[data-aos="new-animation"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    transform: translateX(800px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}

.bg-img-loader {
  background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      #f8f8f8 1rem,
      #f8f8f8 2rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

@keyframes barberpole {

  100% {
    background-position: 100% 100%;
  }
}
