.feature-icons-small {


  &-inner {
    flex-direction: column;
    justify-content: space-between;

    @include mq($from: 720px ) {
      flex-direction: row;
    }

    > .flex {
      width: 100%;
    }

    &-item {
      @include flex-width(100%);
      margin-bottom: pxem(45);

      @include mq($from: 720px ) {
        margin-left: 2%;
        margin-right: 2%;
        flex: 0 1 calc(25% - 4%);
        margin-bottom: pxem(90);
      }

      p {
        max-width: pxem(447);

        a {
          @include link-effect;
        }
      }
    }
  }
}
