.section-footer {

  &-top {

    &-inner {
      margin-left: 1.5%;
      width: 100%;

      &-item {
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 30px;
        padding-top: 30px;
        margin-bottom: 30px;

        @include flex-width-grid(100%);
        flex-direction: column;
        align-items: flex-start;

        @include mq($from: 580px ) {
          flex-direction: row;
          align-items: center;
        }

        &-svg {
          right: 0;
          bottom: 0;
          margin-right: 13%;
          margin-bottom: -5px;
          display: none;

          @include mq($from: $breakpoint-medium ) {
            display: block;
          }
        }

        &-slack {
          border: 1px solid #C7CACD;
          border-radius: 8px;
          padding: 10px 10px 6px;
          margin-top: pxem(30);

          @include mq($from: 580px ) {
            margin-top: 0;
          }

          &-icon {

            &:after {
              background-size: cover;
              content: "";
              display: block;
              float: left;
              margin-top: -4px;
              margin-right: pxem(5);
              background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='nonzero' fill='none'%3E%3Cg fill='%23E01E5A'%3E%3Cpath d='M5.1 14.4c0 1.3-1 2.3-2.3 2.3-1.3 0-2.3-1-2.3-2.3 0-1.3 1-2.3 2.3-2.3h2.3v2.3zM6.3 14.4c0-1.3 1-2.3 2.3-2.3 1.3 0 2.3 1 2.3 2.3v5.8c0 1.3-1 2.3-2.3 2.3-1.3 0-2.3-1-2.3-2.3v-5.8z'/%3E%3C/g%3E%3Cg fill='%2336C5F0'%3E%3Cpath d='M8.6 5.2c-1.3 0-2.3-1-2.3-2.3 0-1.3 1-2.3 2.3-2.3 1.3 0 2.3 1 2.3 2.3v2.3H8.6zM8.6 6.3c1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3H2.8c-1.3 0-2.3-1-2.3-2.3 0-1.3 1-2.3 2.3-2.3h5.8z'/%3E%3C/g%3E%3Cg fill='%232EB67D'%3E%3Cpath d='M17.9 8.7c0-1.3 1-2.3 2.3-2.3 1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3h-2.3V8.7zM16.7 8.7c0 1.3-1 2.3-2.3 2.3-1.3 0-2.3-1-2.3-2.3V2.9c0-1.3 1-2.3 2.3-2.3 1.3 0 2.3 1 2.3 2.3v5.8z'/%3E%3C/g%3E%3Cg fill='%23ECB22E'%3E%3Cpath d='M14.4 17.9c1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3-1.3 0-2.3-1-2.3-2.3v-2.3h2.3zM14.4 16.8c-1.3 0-2.3-1-2.3-2.3 0-1.3 1-2.3 2.3-2.3h5.8c1.3 0 2.3 1 2.3 2.3 0 1.3-1 2.3-2.3 2.3h-5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
              height: 23px;
              width: 23px;
            }

            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }
  }

  &-inner {
    flex-direction: column;

    @include mq($from: 720px ) {
      flex-direction: row;
    }

    &-col {
      @include flex-width-grid(100%);
      margin-right: 1.5%;
      margin-left: 1.5%;
      margin-bottom: pxem(30);

      @include mq($from: 720px ) {
        @include flex-width-grid(22%);
        margin-bottom: 0;
      }

      &-social {

        a {

          &:after {
            background-size: cover;
            content: "";
            display: block;
            float: left;
            height: pxem(20);
            margin-right: pxem(15);
            width: pxem(20);
          }

          &.section-footer-inner-col-social-twitter:after {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.603 8.186c.004.092.006.185.006.279 0 2.855-2.173 6.148-6.147 6.148a6.102 6.102 0 0 1-3.312-.972 4.33 4.33 0 0 0 3.199-.895 2.161 2.161 0 0 1-2.019-1.5c.132.027.268.04.408.04a2.2 2.2 0 0 0 .569-.076 2.162 2.162 0 0 1-1.734-2.118v-.028c.291.16.625.26.979.27a2.159 2.159 0 0 1-.669-2.885 6.137 6.137 0 0 0 4.454 2.258 2.16 2.16 0 0 1 3.68-1.971 4.335 4.335 0 0 0 1.373-.524 2.17 2.17 0 0 1-.95 1.194c.437-.05.853-.167 1.24-.34-.29.435-.655.815-1.077 1.12M10 0C4.477 0 0 4.478 0 10c0 5.523 4.477 10 10 10 5.036 0 9.2-3.722 9.897-8.566.067-.329.097-.67.093-1.021.006-.136.01-.274.01-.413 0-5.522-4.476-10-10-10' fill='%237B7B7B' fill-rule='evenodd'/%3E%3C/svg%3E");
          }

          &.section-footer-inner-col-social-linkedin:after {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 14.99h-2.072v-3.242c0-.773-.014-1.767-1.077-1.767-1.078 0-1.242.842-1.242 1.712v3.298h-2.07V8.323h1.986v.912h.029c.276-.524.952-1.077 1.96-1.077 2.099 0 2.486 1.38 2.486 3.176v3.657zM6.203 7.413A1.202 1.202 0 1 1 6.2 5.01a1.202 1.202 0 0 1 .002 2.403zm1.036 7.579H5.164V8.323H7.24v6.668zM10 0C4.477 0 0 4.477 0 10s4.477 10 10 10 10-4.477 10-10S15.523 0 10 0z' fill='%237B7B7B' fill-rule='evenodd'/%3E%3C/svg%3E");
          }

          &.section-footer-inner-col-social-github:after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h23.694v23.109H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath d='M11.846 0C5.304 0 0 5.304 0 11.848c0 5.233 3.394 9.673 8.102 11.24.593.11.809-.257.809-.57 0-.282-.01-1.027-.016-2.015-3.295.715-3.99-1.589-3.99-1.589-.54-1.369-1.316-1.732-1.316-1.732-1.076-.735.081-.72.081-.72 1.19.083 1.815 1.22 1.815 1.22 1.057 1.81 2.772 1.287 3.448.985.107-.766.413-1.288.752-1.584-2.63-.299-5.397-1.316-5.397-5.855 0-1.293.462-2.35 1.22-3.18-.122-.299-.529-1.503.116-3.135 0 0 .995-.318 3.258 1.215a11.347 11.347 0 0 1 2.966-.4c1.006.006 2.02.137 2.966.4 2.261-1.533 3.254-1.215 3.254-1.215.647 1.632.24 2.836.118 3.136.76.828 1.218 1.886 1.218 3.179 0 4.55-2.77 5.552-5.41 5.845.426.366.805 1.09.805 2.195 0 1.583-.015 2.86-.015 3.25 0 .316.214.685.815.57 4.703-1.57 8.095-6.008 8.095-11.24C23.694 5.304 18.39 0 11.846 0' fill='%237B7B7B' mask='url(%23b)'/%3E%3C/g%3E%3C/svg%3E");
          }

          &.section-footer-inner-col-social-slack:after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cellipse fill='%237B7B7B' cx='12' cy='12' rx='11.5' ry='12'/%3E%3Cpath d='M6.927 14.305c0 .977-.797 1.775-1.772 1.775a1.778 1.778 0 0 1-1.772-1.775c0-.976.797-1.774 1.772-1.774h1.772v1.774zm.893 0c0-.976.797-1.774 1.772-1.774s1.771.798 1.771 1.774v4.445c0 .976-.796 1.775-1.771 1.775A1.778 1.778 0 0 1 7.82 18.75v-4.445zm1.772-7.127A1.778 1.778 0 0 1 7.82 5.403c0-.976.797-1.774 1.772-1.774s1.771.798 1.771 1.774v1.775H9.592zm0 .895c.975 0 1.771.798 1.771 1.775 0 .976-.796 1.774-1.771 1.774H5.155a1.778 1.778 0 0 1-1.772-1.774c0-.977.797-1.775 1.772-1.775h4.437zm7.114 1.775c0-.977.797-1.775 1.772-1.775s1.772.798 1.772 1.775c0 .976-.797 1.774-1.772 1.774h-1.772V9.848zm-.893 0c0 .976-.796 1.774-1.771 1.774a1.778 1.778 0 0 1-1.772-1.774V5.403c0-.976.797-1.774 1.772-1.774s1.771.798 1.771 1.774v4.445zm-1.771 7.127c.975 0 1.771.798 1.771 1.775 0 .976-.796 1.775-1.771 1.775a1.778 1.778 0 0 1-1.772-1.775v-1.775h1.772zm0-.895a1.778 1.778 0 0 1-1.772-1.775c0-.976.797-1.774 1.772-1.774h4.436c.975 0 1.772.798 1.772 1.774 0 .977-.797 1.775-1.772 1.775h-4.436z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
          }

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }

  &-bottom {

    &-logo1 {
      max-width: pxem(184);
    }

    &-logo2 {
      max-width: pxem(182);
    }

    &-logo3 {
      max-width: pxem(130);
    }

    &-inner {
      margin-right: 1.5%;
      margin-left: 1.5%;

      &-wrap {
        flex-direction: column;

        @include mq($from: 620px ) {
          flex-direction: row;
          justify-content: space-between;
        }

        &-right {
          margin-top: 15px;

          @include mq($from: 620px ) {
            margin-top: 0;
          }

          &-copy {
            display: block;
            margin-top: pxem(20);

            @include mq($from: 620px ) {
              display: none;
            }
          }

          &-list {
            flex-direction: row;
            padding: 0;

            li {
              margin-bottom: 10px;
              margin-right: 20px;
            }
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }

      &-logos {
        border-bottom: 1px solid #D8D8D8;
      }
    }
  }
}

.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    /* color: #555555; */
    font-weight: 600;
  }

  /* Style the collapsible content. Note: hidden by default */
  .content {
    display: none;
    overflow: hidden;
  }
  .collapsible:before {
  content: "\02795"; /*Unicode character for "plus" sign (+) */
  font-weight: 200;
  font-size: 11px;
  float: left;
  padding: 0px 5px;
  color: transparent;
  text-shadow: 0 0 0 #00a86b;
}

.active:before {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  color: transparent;
  text-shadow: 0 0 0 #00a86b;
}
