.section-form{
	background-color:$fill-white;
	position:relative;
	&.section-form-short{
		.section-form-short-color-strip{
			min-height: pxem(252);
			background-image: url("../images/header-color-bg@2x.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-color:$fill-green;
			width:100%;
			position:absolute;
			top:0;
		}
		h2{
			color:$text-white;
			margin-bottom:30px;
		}
		.section-form-inner{
			form{
				padding:20px 20px 30px;
				background-color:$fill-white;
				box-shadow:0 4px 10px 0 rgba(0,0,0,0.20);
			}
		}
	}
	&-inner{
		max-width: $narrow-max-width;
    	margin: 0 auto;
    	position: relative;
    	form{
    		width:100%;
    		&>div{
    			display:flex;
    			flex-wrap:wrap;
    			justify-content:space-between;
    			h2{
            @include gt-regular;
					color:$text-link;
					margin-bottom:40px;
					flex:1 1 100%;
				}
				.mc-field-group{
					margin-bottom:30px;
					flex:1 1 100%;
					&:nth-of-type(2),&:nth-of-type(1){

						@include mq($from: 520px) {
							flex:0 1 calc(50% - 20px);
						}
					}
					label{
              color:$text-testimonial;
              @include font-smoothing;
              @include gt-regular;
              font-size: 18px;
              line-height: 26px;
		    			display:block;
		    			margin-bottom:10px;
		    		}
		    		input,textarea{
		    			background-color:#f2f2f2;
		    			outline:none;
		    			border:2px solid transparent;
		    			font-size:18px;
		    			width:100%;
		    			display:block;
              padding:10px;
              transition: border 240ms ease-in-out;
							resize: vertical;

              &.error {
                border: 2px solid $fill-red;
              }

              &:focus {

                border-color: $fill-green;
              }
		    			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						  color: $blockquote-name;
						}
						&::-moz-placeholder { /* Firefox 19+ */
						  color: $blockquote-name;
						}
						&:-ms-input-placeholder { /* IE 10+ */
						  color: $blockquote-name;
						}
						&:-moz-placeholder { /* Firefox 18- */
						  color: $blockquote-name;
						}
		    		}
		    		div.mce_inline_error{
		    			background-color:transparent!important;
		    			color:$text-orange!important;
		    		}
				}
				.clear{
					input.button{
						@include button;
						@include button-green;
						@include button-medium;
					}
				}
    		}
    	}
  }

  &-footer {
    background-color: transparent;
    max-width: pxem(700);
    width: 100%;
    flex: 1 0 auto;

    .section-form-inner {

      form {

        >div {

          .mc-field-group {
            margin-bottom: 0;
            flex: 1 0 auto;

            @include mq($to: $breakpoint-small) {
              width: 100%;
              margin-bottom: 20px;
            }

            input {
              background-color:#ffffff;
              padding: 14px 20px;
              line-height: 20px;
              border: none;

              &:focus {
                border: none;
              }
            }
          }

          .clear{
            @include mq($to: $breakpoint-small) {
              width: 100%;
            }

            input.button{
              @include button-disabled;
              line-height: 11px;
              padding-left: 45px;
              padding-right: 45px;

              &.-active {
                @include button-green;
              }

              @include mq($to: $breakpoint-small) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.section-form-footer-inner {

  .section-footer-top-inner-item {
    display: flex;

    @include mq($to: 1200px) {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }

    @include mq($from: 1200px) {
      justify-content: space-between;
    }

    h3 {
      @include mq($to: 1200px) {
        margin-bottom: pxem(30);
        text-align: center;
      }
    }
  }
}
