.section-hero-home {

  &-inner {
    position: relative;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    transition: padding 1s ease;

    @include mq($from: 768px ) {
      padding-right: 0;
      padding-left: 5%;
    }

    @include mq($from: 992px ) {
      flex-direction: row;
      padding-top: 10%;
      padding-bottom: 10%;
    }

    &-text {
      padding-top: 0;
      padding-left: 0;

      @include mq($from: 992px ) {
        padding-top: pxem(30);
        @include flex-width(40%);
      }

      @include mq($from: 1320px ) {
        padding-left: 40px;
      }
    }

    &-images {
      position: relative;
      height: pxem(400);
      max-height: pxem(400);

      @include mq($from: 992px ) {
        @include flex-width(60%);
      }

      &-large {
        top: 20%;
        right: 0;
        border-left: pxem(10) solid $text-black;
        max-width: pxem(260);

        @include mq($from: 460px ) {
          top: 20%;
          right: 5%;
          max-width: pxem(330);
        }

        @include mq($from: 740px ) {
          max-width: pxem(375);
          top: 20%;
          right: 15%;
        }

        @include mq($from: 992px ) {
          right: 0;
          max-width: pxem(410);
        }

        @include mq($from: 1185px ) {
          right: 0;
        }
      }

      &-small {
        top: 45%;
        right: 68%;
        max-width: pxem(125);
        z-index: 9;

        @include mq($from: 460px ) {
          top: 40%;
          right: 78%;
          max-width: pxem(125);
        }

        @include mq($from: 740px ) {
          top: 40%;
          right: 69%;
          max-width: pxem(125);
        }

        @include mq($from: 992px ) {
          top: 40%;
          right: 70%;
          max-width: pxem(155);
        }

        @include mq($from: 1185px ) {
          top: 33%;
          right: 63.25%;
          max-width: pxem(214);
        }
      }

      &-small-square {
        height: pxem(60);
        width: pxem(60);
        top: 72%;
        right: 60%;
        z-index: 200;

        @include mq($from: 460px ) {
          top: 67%;
          right: 75%;
        }

        @include mq($from: 740px ) {
          top: 67%;
          right: 75%;
        }

        @include mq($from: 992px ) {
          height: pxem(65);
          width: pxem(65);
          top: 75%;
          right: 65%;
        }

        @include mq($from: 1185px ) {
          top: 85%;
          right: 58%;
          height: pxem(75);
          width: pxem(75);
        }
      }

      &-large-square {
        height: pxem(110);
        width: pxem(110);
        border-right: 10px solid $text-black;
        top: 10%;
        right: 25%;

        @include mq($from: 460px ) {
          top: 10%;
          right: 55%;
          margin-left: 0;
          height: pxem(150);
          width: pxem(150);
        }

        @include mq($from: 740px ) {
          height: pxem(180);
          width: pxem(180);
          top: 10%;
          right: 50%;
        }

        @include mq($from: 992px ) {
          top: 10%;
          right: 45%;
          height: pxem(210);
          width: pxem(210);
        }

        @include mq($from: 1185px ) {
          top: 0;
          right: 40%;
        }
      }
    }
  }
}

.section-hero-home.-hero-home-variation {

  .section-hero-home-inner {
    position: relative;
    padding-top: pxem(50);
    padding-bottom: pxem(50);
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    transition: padding 1s ease;

    @include mq($from: 768px ) {
      padding-right: 0;
      padding-left: 5%;
    }

    @include mq($from: 992px ) {
      flex-direction: row;
      padding-top: pxem(90);
      padding-bottom: pxem(90);
    }

    &-text {
      padding-top: 0;

      @include mq($from: 992px ) {
        padding-top: pxem(30);
        @include flex-width(40%);
      }
    }

    .section-hero-home-inner-images {
      position: relative;
      height: pxem(400);
      max-height: pxem(400);

      @include mq($from: 992px ) {
        @include flex-width(60%);
      }

      &-large {
        top: 20%;
        right: -5%;
        border-left: pxem(10) solid $text-black;
        max-width: pxem(260);

        @include mq($from: 460px ) {
          top: 20%;
          right: 5%;
          max-width: pxem(330);
        }

        @include mq($from: 740px ) {
          max-width: pxem(375);
          top: 20%;
          right: 15%;
        }

        @include mq($from: 992px ) {
          right: 0;
          max-width: pxem(410);
        }

        @include mq($from: 1185px ) {
          right: 0;
        }
      }

      &-small {
        top: 45%;
        right: 70%;
        max-width: pxem(125);
        z-index: 9;

        @include mq($from: 460px ) {
          top: 40%;
          right: 78%;
          max-width: pxem(125);
        }

        @include mq($from: 740px ) {
          top: 40%;
          right: 69%;
          max-width: pxem(125);
        }

        @include mq($from: 992px ) {
          top: 40%;
          right: 70%;
          max-width: pxem(155);
        }

        @include mq($from: 1185px ) {
          top: 33%;
          right: 63.25%;
          max-width: pxem(214);
        }
      }

      &-small-square {
        height: pxem(60);
        width: pxem(60);
        top: 72%;
        right: 60%;
        z-index: 200;

        @include mq($from: 460px ) {
          top: 67%;
          right: 75%;
        }

        @include mq($from: 740px ) {
          top: 67%;
          right: 75%;
        }

        @include mq($from: 992px ) {
          height: pxem(65);
          width: pxem(65);
          top: 75%;
          right: 65%;
        }

        @include mq($from: 1185px ) {
          top: 24%;
          right: 58%;
          height: pxem(65);
          width: pxem(65);
        }
      }

      &-large-square {
        height: pxem(110);
        width: pxem(110);
        border-right: 10px solid $text-black;
        top: 10%;
        right: 25%;

        @include mq($from: 460px ) {
          top: 10%;
          right: 55%;
          margin-left: 0;
          height: pxem(150);
          width: pxem(150);
        }

        @include mq($from: 740px ) {
          height: pxem(180);
          width: pxem(180);
          top: 10%;
          right: 50%;
        }

        @include mq($from: 992px ) {
          top: 10%;
          right: 45%;
          height: pxem(210);
          width: pxem(210);
        }

        @include mq($from: 1185px ) {
          top: 65%;
          right: 40%;
        }
      }
    }
  }
}
