.open-source-block {

  &-title {
    max-width: pxem(760);
    margin: 0 auto pxem(60);
    text-align: left;

    @include mq($from: 420px ) {
      text-align: center;
    }
  }

  &-items {

    &-item {
      margin: 0 10px pxem(40);

      @include mq($from: 420px ) {
         margin: 0 0% pxem(0);
      }

      img {
        max-width: pxem(140);

        @include mq($from: 570px ) {
          max-width: pxem(200);
        }

        @include mq($from: 1300px ) {
          max-width: pxem(220);
        }
      }
    }
  }

  &.-is-grayscale {

    .open-source-block-items {

      .open-source-block-items-item {

        img {
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
      }
    }
  }
}
