.section-pricing {

  &-block {
    @include flex-width-grid(100%);
    max-width: pxem(550);
    margin-bottom: pxem(40);
    padding-left: 5%;
    padding-right: 5%;

    @include mq($from: 1024px ) {
      @include flex-width-grid(28%);
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding-left: 0;
      padding-right: 0;
    }
  }

    &-block2 {
    @include flex-width-grid(100%);
    max-width: pxem(550);
    margin-bottom: pxem(40);
    padding-left: 5%;
    padding-right: 5%;

    @include mq($from: 1024px ) {
      @include flex-width-grid(80%);
      margin-left: 2.5%;
      margin-right: 2.5%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-bug {
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
  }

  &-review {

    &-inner {

      &-left {

        &-large {
          width: pxem(233);
          height: pxem(187);
          background: $fill-green;
          transition: all 1s ease;
          margin-left: pxem(-170);
          bottom: pxem(-60);
          border-right: pxem(5) solid $fill-black;
        }

        &-stripes {
          display: block;
          width: pxem(140);
          height: pxem(98);
          bottom: 100px;
          margin-left: pxem(-75);
          background: repeating-linear-gradient(
            -45deg,
            $fill-green,
            $fill-bg-gray 2px,
            $fill-bg-gray 13px,
            $fill-green 13px
          );
          transition: all 1s ease;
          opacity: 0.5;
        }

        &-shadow {
          width: pxem(74);
          height: pxem(66);
          background: #038754;

          bottom: -30px;
          left: 50px;
          display: none;

          @include mq($from: 880px) {
            display: block;
          }
        }
      }

      &-right {

        &-small {
          width: pxem(108);
          height: pxem(108);
          background: $fill-green;
          transition: all 1s ease;
          right: 0;
          top: 0;
          z-index: 2;
          margin-top: pxem(192);
        }

        &-stripes {
          display: block;
          width: pxem(200);
          height: pxem(200);
          right: 0;
          top: pxem(260);
          z-index: 1;
          margin-right: pxem(-100);
          background: repeating-linear-gradient(
            -45deg,
            $fill-green,
            $fill-bg-gray 2px,
            $fill-bg-gray 13px,
            $fill-green 13px
          );
          transition: all 1s ease;
          opacity: 0.5;
        }
      }
    }
  }
}
