.section-pricing-nodejs {
  width: 100%;
}

.section-pricing-nodejs .block {
  @include flex-width-grid(100%);

  @include mq($from: 1024px ) {
    @include flex-width-grid(100%);
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.section-pricing-nodejs .header {
  width: 100%;
  text-align: left;
}

.section-pricing-nodejs .tab {
    width: 100%;
    margin: 1%;
    color: #888787;
    background-color: #ffffff;
    vertical-align: top;
    text-align: center;
    cursor: pointer;

    @include mq($from: 600px) {
      display: inline-block;
      width: 15%;
      margin: 0;
    }
  }


.section-pricing-nodejs .panel {
    display: none;
    background-color: white;
    text-align: left;
    list-style-type: none;
    display: block;

  &-items {
    padding-left: 1%;
    padding-right: 1%;

    &-item {
      @include flex-width-grid(100%);
      margin-bottom: pxem(40);

      @include mq($from: 960px ) {
        @include flex-width-grid(23%);
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 0;
      }
    }
  }
}

.nodejs-pricing {
  text-align: left;
  list-style-type: none;

  &-items {
    padding-left: 1%;
    padding-right: 1%;

    &-item {
      @include flex-width-grid(100%);
      margin-bottom: pxem(40);

      @include mq($from: 960px ) {
        @include flex-width-grid(23%);
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 0;
      }
    }
  }
}

.nodejs-pricing-features {
  
  li.enabled:before {
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      background-image: url('/images/pricing/greencheck-icon.png');
      background-size: cover;
      background-position: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
  }
  li.disabled:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url('/images/pricing/grayx-icon.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  li.numbered {
    margin-right: 10px;
    padding-left: 10px !important;
    text-align: center;
  }

  li.numbered:before {
    background-image: none;
    padding-left: 0 !important;
  }
}
