.rich-text-three-col {

  &-header {
    margin-left: auto;
    margin-right: auto;
  }

  &-items {
    padding-left: 15%;
    padding-right: 15%;

    &-item {
      @include flex-width-grid(100%);
      margin-bottom: pxem(40);

      @include mq($from: 960px ) {
        @include flex-width-grid(29%);
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 0;
      }
    }

    &.-columns-lists {

      .rich-text-three-col-items-item {
        @include mq($from: 960px ) {
          flex: 0 1 auto;
          max-width: 29%;
          margin-left: 2%;
          margin-right: 2%;
          margin-bottom: 0;
        }
      }
    }
  }
}
