.testimonials-wrapper {
  background-color: $fill-bg-gray;

  .content-margins {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    max-width: 1400px;

    .testimonials-header {
      max-width: 600px;
      margin: 0 auto 50px;
    }

    .testimonials-slider {
      
      .testimonial {
        display: flex;
        flex-flow: wrap;
        padding: 0 30px 20px; 

        .testimonial-image {
          display: flex;
          flex-flow: wrap;
          min-width: 100px;
          margin-right: 20px;
          
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .testimonial-content {
          width: calc(100% - 120px);

          .testimonial-text {
            margin-bottom: 20px;
          }

          .author-name, .roles, .location {
            margin-bottom: 3px;
          }

          .author-name {
            color: $text-blue;
            
            a {
              text-decoration: none;
              color: $text-blue;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .roles {
            font-style: italic;
            color: $text-light-gray;
          }
          
          .location {
            color: $text-light-gray;
          }
        }
      }

      .prev, 
      .next {
        display: none; 
        user-select:none; 
        cursor: pointer; 
        font-size: 50px; 
        color: $text-blue; 
        position: absolute; 
        left: -30px; 
        padding: 15px; 
        top: calc(50% - 50px); 
        z-index: 9; 
        line-height: 0;
        max-width: 50px;
      }

      .next {
        left: auto; 
        right: -30px;
      }

      .prev {
        transform: rotate(180deg);
      }
    }
  }
}
