<article>
    <header>
        <section class='hero-color flex align-center justify-center fill-green'>
          <div class="hero-color-left relative">
            <div class="hero-color-left-large-stripe"></div>
            <div class="hero-color-left-small-color"></div>
            <div class="hero-color-left-small-stripe"></div>
          </div>
          <div class="hero-color-middle flex align-center justify-center relative">
            <div class="hero-color-middle-left-stripes"></div>
            <div class="prl-5">
              <h1 class="title-2 text-white xs-mb-10">{{ .Title }}</h1>
              <p class="text-22-regular text-white">
              {{ if .Data.Term }}
              {{ (.Site.GetPage "/videos").Title }}
              {{ else }}
              {{ .Description }}
              {{ end }}
              </p>
            </div>
            <div class="hero-color-middle-right-stripes"></div>
          </div>
          <div class="hero-color-right relative">
            <div class="hero-color-right-large-stripe"></div>
            <div class="hero-color-right-small-color"></div>
          </div>
        </section>
    </header>
    <div class="section blog-listing-search flex align-center xs-pb-20 xs-pt-40 sm-pb-300 sm-pt-60 md-pt-80">
      <div class="section-container blog-listing-search-container xs-mb-20">
        <div id="videoSearch"></div>
      </div>
    </div>
    <section class="blog-listing-categories flex align-start xs-pb-40 sm-pb-60 md-pb-80">
      <div class="section-container blog-listing-categories-container">
        <p class="xs-pb-10 text-18-medium text-testimonial">Categories</p>
        <ul class="list-unstyled list-flex flex-wrap data-filter-group">
          {{ $currentPage := . }}
          <li class="xs-pr-20"><a href="/videos" class="{{ if isset $currentPage.Data "Term" }}text-18-regular{{ else }}text-18-medium{{ end }} text-light-blue decoration-none" \>All</a> </li>
          {{ $baseurl := .Site.BaseURL }}

          {{ range .Site.Taxonomies.categories }}
            <li class="xs-pr-20"><a href="{{ .Page.Permalink }}" class="{{ if eq $currentPage.Permalink .Page.Permalink }}text-18-medium{{ else }}text-18-regular{{ end }} text-light-blue decoration-none">{{ .Page.Title }}</a> </li>
          {{ end }}
        </ul>
      </div>
    </section>
  </article>
