<div class="section-mega-mobile fill-white xs-mt-20 relative">
  <div class="section-mega-mobile-platform">
    <div class="section-mega-mobile-trigger align-center xs-mb-10 flex justify-space-between pointer">
      <h3 class="text-22-medium xs-mb-10 text-light-blue -modern-dev"><i class="material-icons">select_all</i>Edge AppSpace</h3>
      <div class="pointer-object-mobile -flip">
        <svg width="17" height="12" aria-label="Devops icon" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.642 1.071l-7.07 8.071L1.5 1.072" fill-rule="nonzero" stroke="#1D9AD1" stroke-width="3" fill="none"/>
        </svg>
      </div>
    </div>
    <ul class="list-unstyled section-mega-mobile-lists xs-mb-50">
      <li class="xs-mb-10 text-20-regular text-light-blue"><strong>SolutionHub</strong></li>
      <li class="xs-mb-10"><a href="/cdn-edge-compute-platform/" class="text-20-regular text-color decoration-none">Performance / CDN</a></li>
      <li class="xs-mb-10"><a href="/security-edge-compute-platform/" class="text-20-regular text-color decoration-none">Security</a></li>
      <li class="xs-mb-10"><a href="/modules/virtual-waiting-room/" class="text-20-regular text-color decoration-none">Virtual Waiting Room</a></li>
      <li class="xs-mb-20"><a href="/modules/sitespect/" class="text-20-regular text-color decoration-none">A/B Testing</a></li>
      <li class="xs-mb-10 text-20-regular text-light-blue"><strong>AppStack</strong></li>
      <li class="xs-mb-20"><a href="/modules/nodejs-edge-hosting/" class="text-20-regular text-color decoration-none">Node.js Edge Hosting</a></li>
      <li class="xs-mb-10 text-20-regular text-light-blue"><strong>RunStack</strong></li>
      <li class="xs-mb-10"><a href="/modules/edge-containers-as-a-service/" class="text-20-regular text-color decoration-none">Containers</a></li>
      <li class="xs-mb-20"><a href="/modules/custom-edge-workload/" class="text-20-regular text-color decoration-none">Serverless</a></li>
      <li><a href="/modules" class="title-6 text-blue link-with-arrow-blue xs-ml-30">Search AppSpace</a></li>
    </ul>

    <div class="section-mega-mobile-trigger align-center xs-mb-10 flex justify-space-between pointer">
      <h3 class="text-22-medium xs-mb-10 text-orange -endpoints"><i class="material-icons">gps_fixed</i>Core Platform</h3>
      <div class="pointer-object-mobile -flip">
        <svg width="17" height="12" aria-label="Endpoints icon" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.642 1.071l-7.07 8.071L1.5 1.072" fill-rule="nonzero" stroke="#ED6F15" stroke-width="3" fill="none"/>
        </svg>
      </div>
    </div>
    <ul class="list-unstyled section-mega-mobile-lists">
      <li class="xs-mb-10"><a href="/devops-edge-compute-platform/" class="text-20-regular text-color decoration-none">Section Control Plane</a></li>
      <li class="xs-mb-10"><a href="/modules/" class="text-20-regular text-color decoration-none">Edge AppSpace</a></li>
      <li class="xs-mb-10"><a href="/adaptive-edge-engine/" class="text-20-regular text-color decoration-none">Adaptive Edge Engine (AEE)</a></li>
      <li class="xs-mb-10"><a href="/global-edge-network/" class="text-20-regular text-color decoration-none">Global Edge Network</a></li>
    </ul>
  </div>
</div>
