<div class="section-mega-mobile fill-white xs-mt-20 relative">
  <div class="section-mega-mobile-platform">
    <div class="section-mega-mobile-trigger align-center xs-mb-10 flex justify-space-between pointer">
      <h3 class="text-22-medium xs-mb-10 text-green -endpoints"><i class="material-icons">gps_fixed</i>Section Edge Platform</h3>
      <div class="pointer-object-mobile -flip">
        <svg width="17" height="12" aria-label="Endpoints icon" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.642 1.071l-7.07 8.071L1.5 1.072" fill-rule="nonzero" stroke="#ED6F15" stroke-width="3" fill="none"/>
        </svg>
      </div>
    </div>
    <ul class="list-unstyled section-mega-mobile-lists">
      <li class="xs-mb-10"><a href="/kubernetes-edge-interface/" class="text-20-regular text-color decoration-none">Kubernetes Edge Interface (KEI)</a></li>
      <li class="xs-mb-10"><a href="/adaptive-edge-engine/" class="text-20-regular text-color decoration-none">Adaptive Edge Engine (AEE)</a></li>
      <li class="xs-mb-10"><a href="/global-edge-network/" class="text-20-regular text-color decoration-none">Global Edge Network</a></li>
    </ul>

    <div class="section-mega-mobile-trigger align-center xs-mb-10 flex justify-space-between pointer">
      <h3 class="text-22-medium xs-mb-10 text-orange -endpoints"><i class="material-icons">view_module</i>Core Platform Features</h3>
      <div class="pointer-object-mobile -flip">
        <svg width="17" height="12" aria-label="Endpoints icon" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.642 1.071l-7.07 8.071L1.5 1.072" fill-rule="nonzero" stroke="#ED6F15" stroke-width="3" fill="none"/>
        </svg>
      </div>
    </div>
    <ul class="list-unstyled section-mega-mobile-lists">
      <li class="xs-mb-10"><a href="/application-programming-interface/" class="text-20-regular text-color decoration-none">API</a></li>
      <li class="xs-mb-10"><a href="/security-edge-compute-platform/" class="text-20-regular text-color decoration-none">Security</a></li>
      <li class="xs-mb-10"><a href="/edge-observability/" class="text-20-regular text-color decoration-none">Observability</a></li>
    </ul>

    <div class="section-mega-mobile-trigger align-center xs-mb-10 flex justify-space-between pointer">
      <h3 class="text-22-medium xs-mb-10 text-blue -endpoints"><i class="material-icons">select_all</i>Add-On Edge Services</h3>
      <div class="pointer-object-mobile -flip">
        <svg width="17" height="12" aria-label="Endpoints icon" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.642 1.071l-7.07 8.071L1.5 1.072" fill-rule="nonzero" stroke="#ED6F15" stroke-width="3" fill="none"/>
        </svg>
      </div>
    </div>
    <ul class="list-unstyled section-mega-mobile-lists">
      <li class="xs-mb-10"><a href="/platform-extensions/" class="text-20-regular text-color decoration-none">Platform Extensions</a></li>
      <li class="xs-mb-10"><a href="/recommended-partners/" class="text-20-regular text-color decoration-none">Recommended Partners</a></li>
    </ul>
  </div>
</div>
