<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TVKJV5G');</script>
<!-- End Google Tag Manager -->
  
<!-- Sajari ping-back code -->
<script type="text/javascript">
  var _sj = _sj || [];
  _sj.push(['project', '1568234116078614868']);
  _sj.push(['collection', 'section-io']);
  (function () {
    var sj = document.createElement('script');
    sj.type = 'text/javascript';
    sj.async = true;
    sj.src = '//cdn.sajari.com/js/sj.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(sj, s);
  })();
</script>
<!-- End Sajari ping-back code -->
  
<!-- Vidyard video embed code -->
<script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>

<!-- Begin Termly cookie consent embed code -->
<script>
  (function () {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://app.termly.io/embed.min.js';
    s.id = '1bac0735-ac84-43e1-a6aa-7cf7c2c28711';
    s.setAttribute("data-name", "termly-embed-banner");
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  })();
</script>
<!-- End Termly cookie consent embed code -->
  
<!-- Begin heap.io tracking code  -->
<script type="text/javascript">
window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
heap.load("892134159");
</script>
<!-- End heap.io tracking code -->


  