{{- define "main" -}}

<section class='hero-color flex align-center justify-center fill-green'>
    <div class="hero-color-left relative">
      <div class="hero-color-left-large-stripe"></div>
      <div class="hero-color-left-small-color"></div>
      <div class="hero-color-left-small-stripe"></div>
    </div>
    <div class="hero-color-middle flex align-center justify-center relative">
      <div class="hero-color-middle-left-stripes"></div>
      <div>
        <h2 class="title-2 text-white">404</h2>
        <p class="text-22-regular text-white xs-mt-30">Page Not Found</p>
      </div>
      <div class="hero-color-middle-right-stripes"></div>
    </div>
    <div class="hero-color-right relative">
      <div class="hero-color-right-large-stripe"></div>
      <div class="hero-color-right-small-color"></div>
    </div>
  </section>

  <section class="section-rich-text xs-pb-80 xs-pt-80 ">
      <div class="section-container">
        <div class="section-rich-text-inner prl-5 text-center">

            <div class="text-center xs-mb-40">
              <h3>It seems we've reached a dead end.</h3>
            </div>

            <p>Please double check the address you were trying to hit, or email enged@section.io if we can help point you in the right direction.</p>
        </div>
      </div>
    </section>

{{- end -}}
