// Text Colors
// -------------------------

// for dev grid
.fill-1320 { background: $fill-1320; }

.text-white { color: $text-white; }

.text-blue { color: $text-blue; }

.text-purple { color: $text-purple; }

.text-white-60 { color: $text-light-60; }

.text-black { color: $text-black; }

.text-dark-10 { color: $text-dark-10; }

.text-dark-20 { color: $text-dark-20; }

.text-dark-30 { color: $text-dark-30; }

.text-dark-40 { color: $text-dark-40; }

.text-dark-50 { color: $text-dark-50; }

.text-dark-65 { color: $text-dark-65; }

.text-dark-70 { color: $text-dark-70; }

.text-dark-75 { color: $text-dark-75; }

.text-dark-80 { color: $text-dark-80; }

.text-dark-85 { color: $text-dark-85; }

.text-dark-90 { color: $text-dark-90; }

// Section Classes

.text-title { color: $text-title; }

.text-color { color: $text-color; }

.text-light-blue { color: $text-light-blue; }

.text-light-purple { color: $fill-light-purple; }

.text-light-green { color: $fill-light-green; }

.text-link { color: $text-link; }

.text-green { color: $text-green; }

.text-light-gray { color: $text-light-gray; }

.text-blockquote { color: $blockquote-name; }

.text-testimonial { color: $text-testimonial; }

.text-lighter-gray { color: $text-lighter-gray; }

.text-dark-green { color: $fill-dark-green; }

.text-purple-menu { color: $text-purple-menu; }

.text-orange { color: $text-orange; }

.text-light-orange { color: $text-orange; }

.fill-green { background: $fill-green; }

.fill-ltgreen { background: $fill-ltgreen; }

.fill-dark-green { background: $fill-dark-green; }

.fill-light-green { background: $fill-light-green; }

.fill-lighter-green { background: $fill-light-green; }

.fill-light-blue { background: $fill-light-blue; }

.fill-lighter-blue { background: $fill-lighter-blue; }

.fill-blue { background: $fill-blue; }

.fill-dark { background: $fill-dark; }

.fill-purple { background: $fill-purple; }

.fill-orange { background: $fill-orange; }

.fill-lighter-purple { background: $fill-lighter-purple; }

.fill-bg-gray { background: $fill-bg-gray; }

.fill-menu-title { color: $fill-menu-title; }

// Fill Colors
// --------------------------

.fill-bg { background-color: $fill-bg; }

.fill-white { background-color: $fill-white; }

.fill-black { background-color: $fill-black; }

.fill-dark-10 { background-color: $fill-dark-10; }

.fill-dark-15 { background-color: $fill-dark-15; }

.fill-dark-20 { background-color: $fill-dark-20; }

.fill-dark-30 { background-color: $fill-dark-30; }

.fill-dark-40 { background-color: $fill-dark-40; }

.fill-dark-50 { background-color: $fill-dark-50; }

.fill-dark-60 { background-color: $fill-dark-60; }

.fill-dark-70 { background-color: $fill-dark-70; }

.fill-dark-75 { background-color: $fill-dark-75; }

.fill-dark-80 { background-color: $fill-dark-80; }

.fill-dark-85 { background-color: $fill-dark-85; }

.fill-dark-90 { background-color: $fill-dark-90; }
