//
// Position Classes
// --------------------------------------------------

.absolute {position: absolute;}

.fixed {position: fixed;}

.relative {position: relative;}

.z1 {z-index: $z1;}

.z2 {z-index: $z2;}

.z3 {z-index: $z3;}

.z4 {z-index: $z4;}

.z10 {z-index: $z10;}

.block {display: block;}

.inline-block {display: inline-block;}
