//
// Shadow Classes
// --------------------------------------------------

.button-shadow {
  box-shadow: 0 pxem(4) pxem(8) 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 240ms $t-1;

  &:hover {
    box-shadow: 0 pxem(14) pxem(19) 0 rgba(0, 0, 0, 0.2);
  }

  &:active {
    box-shadow: pxem(2) pxem(4) pxem(8) 0 rgba(0, 0, 0, 0.2);
  }
}

.cta-shadow {
  box-shadow: 0 pxem(4) pxem(8) 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 240ms $t-1;

  &:hover {
    box-shadow: 0 pxem(14) pxem(19) 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &:active {
    box-shadow: pxem(2) pxem(4) pxem(8) 0 rgba(0, 0, 0, 0.2);
  }
}

.cta-shadow-no-hover {
  box-shadow: 0 pxem(4) pxem(8) 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 240ms $t-1;
}


